{% extends 'src/layout.html' %}

{% block main %}
  <div class="wrapper">
  <header>
    <h1>
      kate's space
      <a href="https://github.com/k88hudson" class="button like"><span class="icon-github"></span> github</a>
      <span class="fl-right">
        <span class="persona-button sign-in">
          <span class="text">
            <span class="sign-out-text">Sign out</span>
            <span class="sign-in-text">Sign in so you can like stuff</span>
            <span class="sign-in-progress"><span class="icon icon-spinner icon-spin"></span></span>
          </span>
          <span class="tip"></span>
        </span>
      </span>
    </h1>
  </header>

  <form class="new-post" action="/create" method="POST" data-admin-only>
    <p>You can make a post that will get sent to me. I might post it or maybe i'll just look at it.</p>
    <input placeholder="Title" data-input name="title">
    <textarea placeholder="Message..." data-input name="message"></textarea>
    <p><button class="button add" type="submit"><span class="icon-save"></span> Submit</button></p>
  </form>

  {% for meat in meats %}
    {% include 'src/meat-template.html' %}
  {% endfor %}
  </div>

{% endblock%}
